{% extends 'UserBundle::layout.html.twig' %}

{% block content %}
    <h1>Task list</h1>

    <table class="table table-condensed table-striped table-hover table-bordered">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Route</th>
            <th>Slug</th>
            <th>Icon</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('task_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.route }}</td>
                <td>{{ entity.slug }}</td>
                <td>{{ entity.icon }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('task_show', { 'id': entity.id }) }}">
                                <i class="icon-list-alt" style="color: #000"></i> Show</a>
                        </li>
                        <li>
                            <a href="{{ path('task_edit', { 'id': entity.id }) }}">
                                <i class="icon-edit" style="color: #000"></i> Edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('task_new') }}">
                <i class="icon-plus" style="color: #000"></i> Create a new entry
            </a>
        </li>
    </ul>
{% endblock %}